@import '../mixins.scss';
@import "../variables";

#notFound {
  @include flexAlign();
  color: $secondary-color;
  height: 50vh;

  a {
    color: $secondary-color;
  }

  img {
    width: 16em;
  }
}