@import "./variables.scss";

@mixin device($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @error 'No value found for `#{$breakpoint}`. '
  }
};

@mixin flexAlign($align: center, $direction: column, $justify: center) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;    
  justify-content: $justify;
}