.Widget {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;

  &:global(.left) {
    text-align: left;
  }

  &:global(.right) {
    text-align: right;
  }

  &:global(.green) {
    background-color: var(--green);
  }

  &:global(.light-green) {
    background-color: var(--light-green);
  }
}
