// defafult
$color-primary: #bdd753;
$color-secondary: #0e7f61;

// others
$color-black: #000000;
$color-white: #ffffff;
$color-grayDark: #505050;
$color-grayLight: #696969;
$color-whiteLight: #f7f7f7;
